@media screen and (max-width: 560px){
        #logo{
            display: flex;
            margin: auto;
            margin-bottom: 1%;
            width: 45%; 
        }
        h2{
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 1.1em;
            border-radius: 8px;
            background-color: rgb(66, 24, 7);
            color: white;
            text-align: center;
            padding: 1%;
            margin: 5% 3%;
        }
        nav{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-size: 1.2em;
            background-color: rgb(66, 24, 7);
            color: white;
            padding: 0 0;
            width:auto;
            align-items: center;
        }
        nav>a{
            display: flex;
            text-decoration: none;
            color: white;
            padding: 10px 2%;
        }
        a:hover{
            background-color: rgb(100, 77, 67);
        }
        .img{
            align-self:baseline;
            float:none;
            border-radius: 2%;
            width: 120%;
            margin:0;
        }
        .fas{
            background-color: rgb(66, 24, 7) ;
        }
        main{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 5%;
        }
        section{
            margin: 0%;
            width: 100%;
        }
        aside{
            width: 80%;
            background-color: white;
            margin-bottom: 2%;
            display: none;
        }
        aside>p{
            background-color: white;
            padding: 3%;
        }
    }
    