*{
    box-sizing: border-box;
}

.btn{
    background-color: #d22a36;
    border-color: #d22a36 ;
}

.btn:hover{
    background-color: rgb(10, 20, 40);
}

#section1{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 0 0 0.75rem rgb(240, 240, 240);
    background-color: rgb(221, 220, 220);
    border-radius: 10px;
}

.riot{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.presentation{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#section2{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 0 0 0.75rem rgb(240, 240, 240);
    background-color: rgb(221, 220, 220);
    border-radius: 10px;

}

.league{
    width: 65%;
    padding: 2%;
    border-radius: 35px;

}

#section3{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 0 0 0.75rem rgb(240, 240, 240);
    background-color: rgb(221, 220, 220);
    border-radius: 10px;

}

.valorant{
    width: 60%;
    padding: 2%;
    border-radius: 35px;

}

#section4{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 0 0 0.75rem rgb(240, 240, 240);
    background-color: rgb(221, 220, 220);
    border-radius: 10px;

}

.arcane{
    width: 65%;
    padding: 2%;
    border-radius: 35px;
}

.texte-presentation{
    padding: 4% 2%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

p{
    padding: 9% 0 5% 0;
}

#source{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 0 0 0.75rem rgb(240, 240, 240);
    background-color: rgb(221, 220, 220);
    border-radius: 10px;

}